---
import Layout from '../layouts/BlogPost.astro';

---



<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<img src="/blog-placeholder-about.png" alt="An Image" >
	<p>
		<ul>
			<li>
				NAME: Itsuko Zhou
			</li>
			<li>
				Twitter: @ItsukoZhou
			</li>
			<li>
				Github: ItsukoZhou
			</li>
			</li>
		</ul>
	</p>
	<p>
		<h5>
			"I curse my stars in bitter grief and woe,
		</h5>
		<h5>
			that made my love so high and me so low."
		</h5>
	</p>

</Layout>

