---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
				Hello, it's me!
			</h1>
			<img src="/blog-placeholder-index.jpg" alt="An Image">
			<p></p>
			<h5>
				Welcome to my <a href="https:itsuko.top">Itsuko's Blog</a> . 
			</h5>
			<ul>
				<li>
					Undering full construction
				</li>
				<li>
					Have fun!
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
